.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}


.todo-background{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, #4e085f);
}